#platypus-1 {
	display: none;
	content: 'dmFyIGUgPSBkb2N1bWVudC5jcmVhdGVFbGVtZW50ICggJ3AnICk7DQplLmlubmVySFRNTCA9ICJJJ20gZnJvbSBKYXZhU2NyaXB0IHRoYXQncyBpbnNpZGUgcGxhdHlwdXNfc3ViLmNzcyEiOw0KZG9jdW1lbnQuYm9keS5hcHBlbmRDaGlsZCAoIGUgKTs=';
	/*
	The above base64 encoded string contains the following JS code. This is here just for demonstration purposes, you don't need to put the code into a comment.
	var e = document.createElement ( 'p' );
	e.innerHTML = "I'm from JavaScript that's inside platypus_sub.css!";
	document.body.appendChild ( e );
	*/
}

p {
	font-size: 14px;
}